{{#each this}}

<div class="gallery-list">
    <div class="thumb">
        <img class="gallery-img" , alt="{{tags}}" width="300" src="{{webformatURL}}">


        <ul class="gallery-list">
            <li>Likes: {{likes}}</li>
            <li>Comments: {{comments}}</li>
            <li>Downliads: {{downloads}}</li>
        </ul>



    </div>
</div>
{{/each}}


{{!-- 
// Интересующие свойства hits:
// webformatURL - ссылка на маленькое изображение для списка карточек
// largeImageURL - ссылка на большое изображение (смотри пункт 'дополнительно')
// likes - количество лайков
// views - количество просмотров
// comments - количество комментариев
// downloads - количество загрузок --}}